$primary: #5265E1;
$secondary: #FA5959;
$light: rgb(248, 248, 248);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.hero .hero-img-container img {
    width: 50rem;
}

.bg-box {
    width: 50rem;
    height: 25rem;
    bottom: 5rem;
    right: 0;
}