$primary: #5265E1;
$secondary: #FA5959;
$light: #f6f6f8;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";


// Hero

.hero {
  margin-left: 3rem;
}

.hero .hero-text-content p {
  font-size: 2.5rem;
}

.hero .hero-img-container .hero-img {
  width: 100rem;
}

.bg-box {
    width: 90%;
    height: 80%;
    bottom: 0rem;
    right: -10rem;
}

// Features section

.bg-box-left {
  width: 80%;
  height: 80%;
  bottom: -10rem;
  left: 0;
}

.tab-pane img{
  width: 45rem;
  margin-left: 10rem;
}

.nav-tabs {
  display: inline-block;
  border: none;
}

.nav-tabs .nav-item .nav-link{
  border: none;
  border-bottom: 3px solid $light;
  padding-bottom: 7px;
}

.nav-tabs .nav-item .nav-link.active {
  border: none;
  border-bottom: 7px solid $secondary;
}

@media (max-width:1200px) {
  .hero .hero-text-content h1 {
    font-size: 2.2rem;
  }

  .hero .hero-text-content p {
    font-size: 1.2rem;
  }

  .hero .hero-img-container .hero-img {
    width: 60rem;
    margin-left: 2rem;
  }

}

@media (max-width:992px) {
  
}